body {background-color: black;}
body {
    color: whitesmoke
}
p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: whitesmoke;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
h1 {
    color: rgb(8, 0, 255);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-shadow: 3px 2px #ffffff61;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
h2 {
    color: rgb(157, 141, 19);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
h3 {
    color: rgb(157, 141, 19);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: rgb(157, 141, 19);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.twi {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.twi:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.twi:active {
	position:relative;
	top:1px;
}

.doggo_return {
    font-family: Verdana, Geneva, sans-serif;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .doggo_return span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .doggo_return span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .doggo_return:hover span {
    padding-right: 25px;
  }
  
  .doggo_return:hover span:after {
    opacity: 1;
    right: 0;
  }